body {
    font-family: 'Trends', sans-serif;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 23px;
    margin-bottom: 20px;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.profile-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-setting {
    margin-top: 15px;
    text-align: left;
    width: 100%;
}

.input-group {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 5px;
    width: 40%;
    margin-right: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: aliceblue;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.input-section {
    margin-bottom: 20px;
}

input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px
}